{% extends "base.html" %}

{% block content %}
    <h1>Авторизация</h1>
    <form method="post">
        {{ form.hidden_tag() }}
<!--        токен не дает подделать, генерит код-->
        <p>
            {{ form.email.label }}
            {{ form.email(class="form-control", type="email") }}<br/>
             {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </p>
         <p>
            {{ form.password.label }}
            {{ form.password(class="form-control", type="password") }}<br/>
             {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }}{{ form.remember_me.label }}</p>
<!--        сначала текст, потом чекбокс-->
        <p>{{ form.submit(class="btn btn-primary", type="submit") }}</p>
        <div>{{ message }}</div>
<!--        {% for field in form if field.name != 'csrf_token' %}-->
<!--        <div>-->
<!--            {{ field.label() }}-->
<!--            {{ field }}-->
<!--           -->
<!--        </div>-->
<!--        {% endfor %}-->
    </form>
{% endblock %}